@import '../../style/setting'

.header
	padding: 20px

	&-link
		display: inline-flex
		align-items: center
		cursor: pointer
		font-size: 1.2rem
		font-weight: bold

		&:hover
			span
				width: 100%
				&::after
					width: 100%

		span
			position: relative
			color: $base-color-1
			width: 0
			white-space: nowrap
			overflow: hidden
			transition: 0.3s

			&::after
				content: ""
				width: 0
				border-bottom: 2px solid $base-color-2
				position: absolute
				left: 0
				bottom: 0
				transition: 0.6s

	a
		color: $base-color-1
		text-decoration: none

	svg
		width: 40px
		height: 40px



